@charset "UTF-8";



/*========== navigation ==========*/
header {position:fixed; width:100%; height:60px; background:#222;}
nav {
	display:flex; justify-content:space-between;
	width:1350px; height:100%; margin:0 auto;
}
nav a {padding:18px 15px; color:#f6f6f6;}
nav h1 {text-transform:uppercase;}
nav h1 a {padding:13px 0;}
nav a:hover {color:#fc0;}


#main-menu, .top-menu {display:flex;}
#main-menu > li {position:relative;}
.top-menu li:last-child a {padding-right:0;}

.sub-menu {display:none; position:absolute; width:100px; background:#222; border-radius:0 0 5px 5px;}
.sub-menu a {padding:10px 0; text-align:center;}
.sub-menu li:first-child {padding-top:10px;}
.sub-menu li:last-child {padding-bottom:10px;}





/*========== banner ==========*/
.bn {height:250px; padding-top:120px; color:#f6f6f6; text-align:center;}
.bn-adm-member {background:#0A1B2A;}
.bn h2 {font-size:48px; text-transform:uppercase; font-weight:100;}
.bn h2 span {color:#fc0; font-weight:600;}

section {margin:50px 0 100px;}





/*========== input+button ==========*/
input, button {font-size:16px; background:none; border:0; outline:0;}

/*========== input ==========*/
.input-frm {display:block; width:100%; height:34px; padding:0 20px; border-radius:17px;}
.input-mb {background:#CED8F6; border:1px solid #0A1B2A;}

/*========== button ==========*/
.btn {display:block; height:34px; padding:0 10px; color:#f6f6f6; border-radius:5px;}
.btn-register {background:#222;}
.btn-default {color:#333; border:1px solid #0A1B2A;}
.btn-delete {background:#8A0829;}
.btn-update {background:#292A0A;}
.btn-register:hover {color:#fc0; background:#333;}
.btn-default:hover {color:#013ADF; border:1px solid #013ADF;}
.btn-delete:hover {color:#333; background:#B4045F;}
.btn-update:hover {color:#333; background:#868A08;}






















